<div class="col-md-offset-1 col-md-3">
    <div class="post-img">
        
    </div>
    
    <div class="mt10 recent">
        Learn more &rarr;
        <ul>
            <li>
                Join a Slack community
                There are many people online happy to help you with Polymorphic Linux.
                <img width="300px" src="{{site.baseurl}}/images/Slack_RGB.svg" alt="Slack">
                </li>
            <li >
                
                <img width="100px" src="{{site.baseurl}}/images/polyverse_logo.png" alt="Polyverse">
                <p>Polymorphic Linux Slack  <a href="http://polymorphic-linux.slack.com/">Register here</a></p>
            </li>
        </ul>
    </div>
    
</div>
